<h1>Bienvenido al sistema de gestion de diseños</h1>
<p>nuestro sistema permite conectarlo con diseñadores alrededor
del mundo para facilitar sus procesos de gestion de activos digitales</p>
<p>inicie sesion para empezar a usar el sistema</p>
<%= link_to 'Ver Eventos', eventos_path %>
